 <div class="login-container">
  <div class="login-box">
    <div class="header-form">
      <h3><span>{{ 'Book Store System' | translate }}</span></h3>
      <h4 class="mb-3">{{'forgetpassword' | translate}}</h4>
    </div>
    <form [formGroup]="forgetPasswordForm">
<!-- Password -->
<div class="mb-3">
  <label class="form-label">{{ 'Email' | translate }}</label>
    <input  class="form-control" formControlName="email">
</div>
      <ng-container *ngIf="loading; then thenTemplate; else elseTemplate">
      </ng-container>
      <ng-template #thenTemplate>
        <button type="button" class="btn btn-primary">
          <span *ngIf="loading">
            <i class="fa fa-spinner fa-spin me-2"></i> {{ 'Please wait...' | translate }}
          </span>
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <button [disabled]="forgetPasswordForm.invalid && !passwordsMatch" (click)="onforgetPassword(forgetPasswordForm)"
          type="button" class="btn btn-primary">
          <span *ngIf="!loading">{{ 'forgetpassword' | translate }}</span>
        </button>
      </ng-template>
          <a class="w-100 text-center link-register" [routerLink]="['/auth/login']" [innerHTML]="'if you want to login' | translate"></a>
    </form>
  </div>
</div>