.login-container {
    height: 100vh;
    display: grid;
.login-box {
    width: 500px;
    padding: 29px;
    max-width: 85%;
    margin: auto;
    background-color: #252626;
    border-radius: 10px;
    .header-form {
        text-align: center;
        h3 {
            span {
   border-left: 6px solid #760000;
   padding-left: 8px;
   font-size: 22px;
            }
            margin-bottom: 30px;
        }
        h4 {
text-transform: uppercase;
        }
        p {
         color: #777;
         font-size: 12px;
        }
    }
    form {
        .form-control {
            height: 44px;
        }
        .pass-container {
            position: relative;
            a {
                position: absolute;
                right: 0;
                top: 0;
                padding: 3px;
                padding: 10px;
                color: #999;
            }
        }
        button {
            background-color: #760000;
            color: #fff;
            width: 100%;
            height: 44px;
            border-color: #760000;
        
        }
        a.link-register{
            margin-top: 20px;
            color: #ededed;
            font-size: 14px;
            span {
                color: #760000;
                font-weight: 600;
            }
        }
    }

}    
}
@media only screen and (max-width: 768px) {
    .login-box {
        width: 320px;
}
}