 <div class="login-container">
  <div class="login-box">
    <div class="header-form">
      <h3><span>{{ 'Book Store System' | translate }}</span></h3>
      <h4 class="mb-3">{{'resetpassword' | translate}}</h4>
    </div>
    <form [formGroup]="resetPasswordForm">
    <input type="hidden" class="form-control"  formControlName="email">
<!-- Password -->
<div class="mb-3">
  <label class="form-label">{{ 'New Password' | translate }}</label>
  <div class="pass-container">
    <input [type]="passtype['password'] === 'password' ? 'password' : 'text'" class="form-control" formControlName="password">
    <a (click)="showpass('password')">
      <i class="fa" [ngClass]="passtype['password'] === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
    </a>
  </div>
</div>
<div class="mb-3">
  <label class="form-label">{{ 'otp' | translate }}</label>
    <input  class="form-control" formControlName="otp">
</div>
      <ng-container *ngIf="loading; then thenTemplate; else elseTemplate">
      </ng-container>
      <ng-template #thenTemplate>
        <button type="button" class="btn btn-primary">
          <span *ngIf="loading">
            <i class="fa fa-spinner fa-spin me-2"></i> {{ 'Please wait...' | translate }}
          </span>
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <button [disabled]="resetPasswordForm.invalid && !passwordsMatch" (click)="onresetPassword(resetPasswordForm)"
          type="button" class="btn btn-primary">
          <span *ngIf="!loading">{{ 'updatepassword' | translate }}</span>
        </button>
      </ng-template>
          <a class="w-100 text-center link-register" [routerLink]="['/auth/login']" [innerHTML]="'if you want to login' | translate"></a>
    </form>
  </div>
</div>