 <div class="login-container">
  <div class="login-box">
    <div class="header-form">
      <h3><span>{{ 'Book Store System' | translate }}</span></h3>
      <h4 class="mb-3">{{'changepassword' | translate}}</h4>
    </div>
    <form [formGroup]="changePasswordForm">
<!-- Password -->
<div class="mb-3">
  <label class="form-label">{{ 'currentpassword' | translate }}</label>
  <div class="pass-container">
    <input [type]="passtype['password'] === 'password' ? 'password' : 'text'" class="form-control" formControlName="password">
    <a (click)="showpass('password')">
      <i class="fa" [ngClass]="passtype['password'] === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
    </a>
  </div>
</div>
<!-- New Password -->
<div class="mb-3">
  <label class="form-label">{{ 'New Password' | translate }}</label>
    <div class="pass-container">
  <input
   [type]="passtype['password_new'] === 'password' ? 'password' : 'text'"
    class="form-control"
    [(ngModel)]="password_new"
    name="password_new"
    formControlName="password_new"
    (input)="checkPasswordsMatch()"
  />
      <a (click)="showpass('password_new')">
      <i class="fa" [ngClass]="passtype['password_new'] === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
    </a>
  </div>
</div>

<!-- Confirm Password -->
<div class="mb-3">
  <label class="form-label">{{'Confirm Password' | translate}}</label>
      <div class="pass-container">
  <input
   [type]="passtype['confirm_password'] === 'password' ? 'password' : 'text'"
    class="form-control"
    [(ngModel)]="confirm_password"
    name="confirm_password"
    formControlName="confirm_password"
    (input)="checkPasswordsMatch()"
  />
    <a (click)="showpass('confirm_password')">
      <i class="fa" [ngClass]="passtype['confirm_password'] === 'password' ? 'fa-eye' : 'fa-eye-slash'"></i>
    </a>
  <div class="text-danger mt-1" *ngIf="!passwordsMatch">
    {{'Old Password New Password does not match' | translate}}
  </div>
</div>
</div>
      <ng-container *ngIf="loading; then thenTemplate; else elseTemplate">
      </ng-container>
      <ng-template #thenTemplate>
        <button type="button" class="btn btn-primary">
          <span *ngIf="loading">
            <i class="fa fa-spinner fa-spin me-2"></i> {{ 'Please wait...' | translate }}
          </span>
        </button>
      </ng-template>
      <ng-template #elseTemplate>
        <button [disabled]="changePasswordForm.invalid && !passwordsMatch" (click)="onChangePassword(changePasswordForm)"
          type="button" class="btn btn-primary">
          <span *ngIf="!loading">{{ 'changepassword' | translate }}</span>
        </button>
      </ng-template>
          <!-- <a class="w-100 text-center link-register" [routerLink]="['/auth/login']" [innerHTML]="'if you want to login' | translate"></a> -->
    </form>
  </div>
</div>